# Hugging Face
HF_TOKEN=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
HF_IMAGE_MODEL=stabilityai/stable-diffusion-xl-base-1.0
HF_INFERENCE_URL=https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-xl-base-1.0

# Pinterest
PINTEREST_ACCESS_TOKEN=your_pinterest_access_token
PINTEREST_API_BASE=https://api-sandbox.pinterest.com/v5
PINTEREST_BOARD_ID=your_board_id

# Affiliates / project
AMAZON_ASSOCIATE_TAG=afprod-21
DEFAULT_NICHE=deco maison low-cost
DEFAULT_LANG=fr
PUBLISH_DRY_RUN=true

# (Optionnel) Cloudinary
CLOUDINARY_CLOUD_NAME=dwtebxejm
CLOUDINARY_API_KEY=137611173953611
CLOUDINARY_API_SECRET=WexKV_-GpezlTNxmQBK6XgQEkDQ
CLOUDINARY_FOLDER=pinterest_pins #c'est nous qui le choisissons
